[submodule "DAZZ_DB"]
	path = DAZZ_DB
	url = https://github.com/thegenemyers/DAZZ_DB.git
[submodule "DALIGNER"]
	path = DALIGNER
	url = https://github.com/thegenemyers/DALIGNER.git
[submodule "FASTK"]
	path = FASTK
	url = https://github.com/thegenemyers/FASTK.git
[submodule "MERQURY.FK"]
	path = MERQURY.FK
	url = https://github.com/thegenemyers/MERQURY.FK.git
[submodule "FASTGA"]
	path = FASTGA
	url = https://github.com/thegenemyers/FASTGA.git
[submodule "intspan"]
	path = intspan
	url = https://github.com/wang-q/intspan.git
[submodule "hnsm"]
	path = hnsm
	url = https://github.com/wang-q/hnsm.git
[submodule "fd"]
	path = fd
	url = https://github.com/sharkdp/fd.git
[submodule "anchr"]
	path = anchr
	url = https://github.com/wang-q/anchr.git
[submodule "pgr"]
	path = pgr
	url = https://github.com/wang-q/pgr.git
